<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agenzia Eventi - Nuovo Recensione</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/newRecensione.css">
		
		<link rel="shortcut icon" href="/images/iconaM.png "type="image/x-icon">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="/" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="/admin/indexAdmin">Home</a>
				<a href="/recensione">Community</a>
			</nav>
			
			<div class="icons">
				<a href="/formSearchEventi" class="fas fa-search"></a>
			</div>			
			
			
		</header>
		
        <!-- header section ends -->
        
        <!-- New Recensione section starts -->
        
      <div class="container mt-5">
        <h2>Aggiungi Recensione</h2>
        <form th:action="@{/user/recensione}" method="POST" th:object="${recensione}">
            <div class="form-group">
                <label for="commento">Commento</label>
                <textarea class="form-control" id="commento" name="commento" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="voto">Voto</label>
                <select class="form-control" id="voto" name="voto" required>
                    <option value="" disabled selected>Seleziona un voto</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <!--<div class="form-group">
                <label for="evento">Evento</label>
                <select class="form-control" id="evento" name="evento" required>
                    <option value="" disabled selected>Seleziona un evento</option> -->
                    <!-- Gli eventi saranno aggiunti dinamicamente via JavaScript -->
              <!--  </select>
            </div> -->
            <div class="form-group">
				<label for="cliente">Cliente</label>
                <select class="form-control" id="cliente" name="cliente" required>
					<option value="" disabled selected>Seleziona un cliente</option>
                    <!-- Itera sui clienti disponibili nel modello -->
                    <th:block th:each="cliente : ${clienti}">
						<option th:value="${cliente.id}" th:text="${cliente.nome}+' ' +${cliente.cognome}"></option>
                    </th:block>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Aggiungi Recensione</button>
        </form>
    </div>

        <!-- New Dipendente section ends -->
        
     </body>

</html>