:root{
	--pink: #e84393;	
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    max-width: 600px;
    background-color: #fff;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.container p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #333;
}

.container .btn {
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.container .btn-primary {
    background-color: var(--pink);
    color: #fff;
    border: 2px solid #000;
}

.container .btn-primary:hover {
    background-color: #333;
    color:#fff;
}
