<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marik'Events - Pagamento Completato</title>

    <!-- comando per legare una libreria che migliora le performance e riduce i tempi di caricamento -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- comando per legare un foglio di stile esterno all'html -->
    <link rel="stylesheet" href="/css/pagamento.css">

    <link rel="shortcut icon" href="/images/iconaM.png">
</head>

<body>
    <div class="container mt-5">
        <h1>Pagamento Completato</h1>
        <p>Grazie per il tuo acquisto! Il tuo ordine è stato completato con successo.</p>
        <a th:href="@{'/cliente/indexUser'}" class="btn btn-primary">Torna alla Home</a>
    </div>
</body>

</html>
