<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Marik'Events</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/profile.css">
		
		<link rel="shortcut icon" href="/images/iconaM.png">
	</head>
	<body>
		
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			<a href="/success" class="logo"> Marik'<span>Events</span></a>

			<nav class="navbar">
				<a href="/success">Home</a>
				<a href="/evento">Eventi</a>
				<a href="/servizio">Servizi</a>
				<a href="/recensione">Community</a>
				<a href="/aboutUs">About us</a>
			</nav>
			
			<div class="icons">
			<a href="/formSearchEventi" class="fas fa-search"></a>

			<!-- Se l'utente è autenticato -->
			<div sec:authorize="isAuthenticated()">
				<div class="dropdown" id="userDropdown">
					<span class="user-icon fas fa-user"></span>
					<div class="dropdown-content" id="dropdownContent">
						<div class="user-info">
							<span class="user-name" th:text="${userDetails.username}">Marik Events</span>
						</div>
						<a href="/cliente/evento">Scrivi una Recensione</a>
						<a href="/cliente/carrello">I miei acquisti</a>
						<a href="/logout">Logout</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</div>

			<!-- Se l'utente NON è autenticato -->
			<a sec:authorize="!isAuthenticated()" href="/login" class="fas fa-user"></a>
		</div>
			
		</header>
		
		<!-- Navigation bar section ends -->
		
		<!-- profile section starts -->
		
        <div class="container">
			<div class="profile-header">
				<img th:src="@{'/images/clienti/' + ${immagine}}" alt="">
                <div>
					<h1 th:text="${nome} + ' ' + ${cognome}">Nome Cognome</h1>
                </div>
            </div>
            <div class="profile-details">
				
                <div class="detail">
					<span th:text="${frase}">Frase</span>
                </div>
                
                <div class="detail">
					<label>Contatti:</label>
					<span th:text="${email}">email@example.com</span>
                </div>
                
                <button onclick="location.href='/cliente/modifica';">Modifica </button>
                
            </div>
         </div>
        
        <!-- profile section ends -->
            
        <!-- Operazioni sulle recensioni -->
            
            <!-- Recensioni dell'utente -->
   
            <div class="recensioni">
				<h2>Le tue recensioni</h2>
				
                <div th:if="${recensioni.isEmpty()}">
					
					<p>Non hai scritto nessuna recensione.</p>
                </div>
                
                <ul>
					
			    <!-- Ciclo sulle recensioni dell'utente -->
			    
                    <li th:each="recensione : ${recensioni}">
						<div>
							<p th:text="${recensione.commento}"></p>
							
                            <p>Valutazione:
								<span th:each="star : ${#numbers.sequence(1,5)}">
									<i th:classappend="${star <= recensione.voto} ? 'fas fa-star' : 'far fa-star'"></i>
                                </span>
                            </p>
                            
                            <p>Evento: <span th:text="${recensione.evento.nome}"></span></p>
                            
                            <a th:href="@{/cliente/cancellaRecensione/{id}(id=${recensione.id})}" onclick="return confirm('Sei sicuro di voler cancellare questa recensione?');">Cancella recensione</a>
                       </div>
                    </li>
                 </ul>
              </div>
          </div>
          
          <!-- recensione section ends -->
        
        <!-- footer section starts -->
         <section class="footer">
			 <div class="box-container">
				 <div class="box">
					 <h3>Quick Links</h3>
					 <a href="/cliente/indexUser">Home</a>
				     <a href="/aboutUs">About us</a>
				     <a href="/evento">Eventi</a>
				     <a href="/servizio">Servizi</a>
				     <a href="/recensione">Community</a>
				     <a href="/cliente/indexUser">Contact</a>
				 </div>
				 
				  <div class="box">
					 <h3>Extra Links</h3>
					 <a href="/login">My account</a>
					 <a href="/evento">My Event</a>
				 </div>
				 
				  <div class="box">
					 <h3>Contact Info</h3>
					 <a href="#">+39 3319879060</a>
					 <a href="#">marikamorelli@live.it</a>
					 <a href="https://www.google.com/search?q=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&rlz=1C1GCEA_enIT827IT827&oq=Via+di+S.+Stefano%2C+20%2C+00061+Anguillara+Sabazia+RM&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIKCAEQABiABBiiBDIKCAIQABiABBiiBDIKCAMQABiABBiiBDIKCAQQABiABBiiBDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDE2NjlqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8">Anguillara Sabazia</a>
					 <!--<img src="images/..." alt="">-->
				 </div> 
				 
				 <div class="box2">
					 <h3>Follows</h3>
					 <a href="https://www.facebook.com/Marikevents/?locale=it_IT"><i class="fa-brands fa-facebook"></i></a>
					 <a href="https://www.instagram.com/marikevents/?locale=it"><i class="fa-brands fa-instagram"></i></a>
					 <a href="https://www.tiktok.com/@marikevents"><i class="fa-brands fa-tiktok"></i></a>
				 </div>
			 </div>
			 
			 <div class="credit"> Created by <span>Baldini Sophie & Catalano Veronica </span></div>
		 </section>
         <!-- footer section ends -->

	</body>
	
</html>